btnclass($bg)
  background: bg
  if dark(bg)
    color: $white
  else
    color: $grey750
  transition: all 0.4s ease-in-out
  &:hover
    background: lighten(bg, 15%)
    if dark(lighten(bg, 15%))
      color: $white
    else
      color: $grey850

.bg-grey100
  background: $grey100
.text-grey100
  color: $grey100
.hover-grey100:hover
