:root {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}


.tvl-focusable-parent {
  padding: .4rem;
}
